/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #a4c2d1; /* egg blue */
}

h1,
h2 {
    font-family: 'DM Serif Display', serif;
    color: #184f63; /* dark-blue */
}

/* Hero Section */

#hero {
    background-color: #dbdcde; /* light grey */
    background-image: url(../images/hero-image.webp);
    background-size: cover;
    background-position: 50% 70%;
    min-height: 500px;
    padding: 5% 7%;
}

/* About Section */

#about {
    background-color: white;
}

/* Portfolio Section   */
#portfolio {
    background-color: #dbdcde; /* light grey */
}
#portfolio .card-title {
    color: #1f7798; /* mid-blue */
    font-size: 1.2rem;
}
#portfolio a.btn-outline-secondary:hover {
    background-color: #1f7798; /* mid-blue */
}
#portfolio .card-text {
    min-height: 120px; /* Ensures all cards have the same height */
}
/* Contact Section */

#contact {
    background-color: white;
}

/* Media queries */

/* Use Bootstrap breakpoints for XL screens*/
@media (min-width: 1200px) {
    /* Fixes all portfolio cards being too tall on XL screens */
    #portfolio .card-text {
        min-height: auto; /* Adjusts height for larger screens */
    }
}
